[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "Cython",
    "numpy",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
test-requires = "pytest"
test-command = "pytest {project}/tests"

# skip PyPy wheels and 32 bit builds
skip = ["pp*", "*-win32", "*-manylinux_i686", "cp*-musllinux_*", "cp36-*", "cp37-*"]
