name: PyPI pkg

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop
    tags:
      - "v**"
  release:
    types:
      - published

env:
  # Build `universal2` and `arm64` wheels on an Intel runner.
  # Note that the `arm64` wheel and the `arm64` part of the `universal2`
  # wheel cannot be tested in this configuration.
  CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"

jobs:

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: distfiles
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels-ubuntu-latest
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: wheels-windows-latest
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: wheels-macos-latest
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: distfiles
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1